body{
    margin: 0px 0px 1500px;
}
#head #heading{
    color: darkblue;
    font-weight: bold;
    margin: auto;
    margin-bottom: 0px;
    margin-top: 0px;
}
#head #dropdown{
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}
#head{
    display: flex;
    flex-direction: column;
    width: 701px;
    margin: auto;
    min-height: 800px;
}

#buttondiv button{
    background-color: darkblue;
    padding: 5px;
    width: 200px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: white;
    border-radius: 25px ;
}

#buttondiv button:hover{ 
    background-color: blue;
}

#dropdown select{
    background-color: darkblue;
    padding: 5px;
    width: 120px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border: white;
    border-radius: 15px ;
}

#dropdown select:active{
    background-color: blue;
}

#week{
    border-top:1px solid black ;
    border-left: 1px solid black ;
    padding: 0px;
    margin: 0px;
}

#date{
    border-left: 1px solid black ;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
}

#week li{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    padding-top: 28px;
    list-style-type: none;
    font-weight: bold;
    width: 100px;
    height: 75px;
    text-align: center;
    display: inline-block;
}

#date li{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    padding-top: 28px;
    list-style-type: none;
    width: 100px;
    height: 75px;
    text-align: center;
    display: inline-block;  
}
#buttondiv{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    width: 100%;
}
